{% extends 'core/base.html' %}
{% block extraheaders %}
{% endblock extraheaders %}
{% block content %}
    <h1>Detail view of your transaction</h1>
    <br>
    <div class="card cover-container d-flex h-100 p-3 mx-auto flex-column"  style="width: 18rem;">
        <i class="fas fa-money-check-alt fa-4x"></i>
    <div class="card-body">
    <h5 class="card-title">Transaction {{ transaction.id }}</h5>
    <p class="card-text">Here are some more details regarding your transaction.</p>
    </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Amount:</b> £{{ transaction.amount }}</li>
            <li class="list-group-item"><b>Destination wallet:</b> {{ transaction.destination_wallet }}</li>
            <li class="list-group-item"><b>Sent:</b> {{ transaction.date_sent }}</li>
        </ul>
    <div class="card-body">
    <a href="/activity" class="card-link">All Transactions</a>
    </div>
    </div>
    <br>

{% endblock content %}